%p#notice= notice

%p
  %b Elevator pitch:
  = @background_information.elevator_pitch
%p
  %b Background information:
  = @background_information.background_information
%p
  %b No list:
  = @background_information.no_list
%p
  %b What can go wrong:
  = @background_information.what_can_go_wrong
%p
  %b What is it going to give:
  = @background_information.what_is_it_going_to_give
%p
  %b What is the frame:
  = @background_information.what_is_the_frame
%p
  %b Request:
  = @background_information.request

= link_to 'Edit', edit_background_information_path(@background_information)
\|
= link_to 'Back', background_informations_path
