= simple_form_for(@job) do |f|
  = f.error_notification
  .form-inputs
    = f.input :title,     :autofocus => true
    = f.input :company_name,   :autofocus => true
    = f.input :summary, as: :text,   :autofocus => true

    = f.input :from_date, as: :string, input_html: { 'data-behaviour' => 'datepicker' }
    = f.input :to_date, as: :string, input_html: { 'data-behaviour' => 'datepicker' }
    = f.input :current, as: :boolean
    %br
    %br

    = f.submit 'Save', class: 'btn btn-info'
