= simple_form_for(@certification, :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user
    = f.input :title
    = f.input :date

  .form-actions
    = f.button :submit, :class => "btn-primary"
