.page-header
  = link_to new_certification_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    New Certification
  %h1 Listing certifications

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th User
      %th Title
      %th Date
      %th
      %th
      %th

  %tbody
    - @certifications.each do |certification|
      %tr
        %td= certification.user
        %td= certification.title
        %td= certification.date
        %td= link_to 'Show', certification
        %td= link_to 'Edit', edit_certification_path(certification)
        %td= link_to 'Destroy', certification, :confirm => 'Are you sure?', :method => :delete
