= simple_form_for(@feature, :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f|
  = f.error_notification

  .form-inputs
    = f.association :request
    = f.input :text
    = f.input :title

  .form-actions
    = f.button :submit, :class => "btn-primary"
