= form_for @feature do |f|
  - if @feature.errors.any?
    #error_explanation
      %h2= "#{pluralize(@feature.errors.count, "error")} prohibited this feature from being saved:"
      %ul
        - @feature.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :request
    = f.text_field :request
  .field
    = f.label :text
    = f.text_area :text
  .actions
    = f.submit 'Save'
